html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

#game {
  margin: 10px auto;
  padding: 0;
  width: 800px;
  height: 640px;
}

