*, *::after, *::before, *::backdrop {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0; 
}

body, html {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

#gameLayout {
    margin: 10px auto;
    padding: 0;
    width: 800px;
    height: 640px;
}



